#first-pag {
  background-image: url(/Assets/Images/Background_Intro.png);
  background-size: cover;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#apresentação {
  width: 1040px;
  height: 447px;
  margin-inline: 163px;
  /* padding-bottom: initial; */
}

#infos-pessoais {

  img {
    width: 87px;
    height: 87px;
    margin-bottom: 56px;
  }

  h1 {
    color: var(--gray-600);
    font: var(--title-lg);
    margin-bottom: 20px;
  }

  p:nth-child(2) {
    color: var(--gray-500);
    font: var(--subtitle);
    margin-bottom: 8px;
  }

  #nome-destaque {
    color: var(--red);
  }

  p:nth-child(4) {
    color: var(--gray-400);
    font: var(--text-sm);
  }
}
