#first-pag {
  background-image: url(/Assets/Images/Background_Intro.png);
  background-size: cover;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  nav {
    margin-top: 80px;
    gap: 16px;
  }

}

#apresentação {
  width: 1040px;
  height: 447px;
  margin-inline: 163px;
}

#infos-pessoais {
  img {
    width: 87px;
    height: 87px;
    margin-bottom: 56px;
  }

  h1 {
    color: var(--gray-600);
    font: var(--title-lg);
    margin-bottom: 20px;
  }

  p:nth-child(2) {
    color: var(--gray-500);
    font: var(--subtitle);
    margin-bottom: 8px;
  }

  #nome-destaque {
    color: var(--red);
  }

  p:nth-child(4) {
    color: var(--gray-400);
    font: var(--text-sm);
  }
}

.icon {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  strong {
    font: var(--text-md);
    color: var(--gray-500);
  }

  background-color: var(--gray-300);
  border-radius: 999px;
  /* border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%; */
}

#seta {
  margin-top: 94px;
}