#intro {
    background-image: url(/Assets/Images/Background_Intro.png);
    background-size: cover;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

    img {
        width: 87px;
        height: 87px;
    }
}