#second-pag {
  height: 917px;
  text-align: center;
  justify-items: center;

  #tit-second-pag {
    margin-top: 72px;

    p {
      margin-bottom: 8px;
      color: var(--red);
      font: var(--subtitle);
    }

    h2 {
      color: var(--gray-600);
      font: var(--title-md);
    }
  }

  border: solid red;
}

#secao-projetos {
  margin-top: 56px;
  width: 1040px;
  height: 584px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.projetos {
  border-radius: 12px;
  width: 330px;
  height: 280px;
  background-color: var(--gray-300);
}
