#second-pag {
  height: 830px;
  text-align: center;
  justify-items: center;

  #tit-second-pag {
    margin-top: 72px;

    p {
      margin-bottom: 8px;
      color: var(--red);
      font: var(--subtitle);
    }

    h2 {
      color: var(--gray-600);
      font: var(--title-md);
    }
  }

  /* border: solid red; */
}

#secao-projetos {
  margin-top: 56px;
  width: 1040px;
  height: 584px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.projetos {
  padding-inline: 12px;
  border-radius: 12px;
  width: 330px;
  height: 280px;
  background-color: var(--gray-300);
  text-align: start;

  h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font: var(--title-sm);
    color: var(--gray-600);
  }

  p {
    font: var(--text-sm);
    color: var(--gray-500);
  }
}

.foto-projeto {
  width: 306px;
  height: 156px;
  border-radius: 8px;
  margin-top: 12px;
}
